body { padding: 0; margin: 0 }
#unity-container { position: absolute }
#unity-container.unity-desktop { left: 50%; top: 50%; transform: translate(-50%, -50%) }
#unity-container.unity-mobile { position: fixed; width: 100%; height: 100% }
#unity-canvas { background: #013220 }
.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }
#unity-webgl-logo { float:left; width: 204px; height: 38px; background: url('webgl-logo.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#unity-fullscreen-button { cursor:pointer; float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
#unity-loading-bar {
    position: relative; /* Устанавливаем контекст для позиционирования */
    display: flex; /* Используем flexbox для выравнивания */
    flex-direction: column; /* Элементы выстраиваются по вертикали */
    align-items: center; /* Центрируем по горизонтали */
    justify-content: center; /* Центрируем по вертикали */
    width: 100%;
    height: 100%;
}

#unity-logo {
    width: 259px;
    height: 130px;
    background: url('logo2.png') no-repeat center;
}

#unity-progress-bar-empty {
    width: 141px;
    height: 18px;
    position: absolute; /* Абсолютное позиционирование для управления позицией */
    top: calc(50% + 70px); /* Центрирование и смещение вниз под логотип */
    transform: translateY(-50%);
    background: url('progress-bar-empty-dark.png') no-repeat center;
}

#unity-progress-bar-full {
    width: 0%; /* Это значение будет изменяться динамически */
    height: 18px;
    background: url('progress-bar-full-dark.png') no-repeat center;
}
